.panel {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  gap: 50px;
  height: 50px;
  min-height: 30px;
  margin-bottom: 10px;
  min-width: 500px;
}

@media screen and (max-width: 768px) {
  .panel {
    flex-direction: column;
    gap: 20px;
    height: 100px;
  }
}
