.wrapper {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.volumeKnob {
  width: 30px;
  height: 30px;
  background-image: url("../../../../assets/knob.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* .volumeKnob__inner {
  width: 30px;
  height: 30px;
  background-image: url("../../../assets/volumeKnobInner.png");
  background-size: 100%;
  background-repeat: no-repeat;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  transition: transform 0.1s;
} */
