/* * {
  --border: 1px solid rgb(20, 20, 20);
} */

.wrapper,
.track {
  --border: 1px solid rgb(20, 20, 20);
  display: flex;
}

.wrapper {
  width: 200px;
  flex-direction: column;
  background: transparent;
  user-select: none;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100px;
  }
}

.track {
  height: 100%;
  min-height: 40px;
  min-width: 60px;
  flex-direction: col;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgb(32, 31, 31) 0%,

    rgb(24, 24, 24) 100%
  );

  padding: 10px;
  border-top: var(--border);
  border-bottom: var(--border);
}

.track:nth-child(1) {
  border-top: none;
  border-top-left-radius: 2px;
}

.track:nth-last-child(1) {
  border-bottom: none;
  border-bottom-left-radius: 2px;
}

.track h1 {
  color: rgb(150, 148, 148);
  cursor: default;
  text-transform: uppercase;
  font-size: 90%;
}
