@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("/fonts/NotoSansKR-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("/fonts/NotoSansKR-Bold.otf") format("opentype");
  font-display: swap;
}

html,
body {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
