.sequencer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 200px;
  min-width: 500px;
  border: 5px solid rgb(54, 53, 53);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .sequencer {
    min-width: none;
  }
}
